
.commit{
  position: relative;
}
.writing_comment{
  position: fixed;
  bottom: 70px;
}
.writing_comment input{
  width: 100%;
  padding: 5px 20px;
  outline: none;
  border: none;
  background-color: transparent;
  color: #fff;
  border-bottom: 1px solid #fff;
  position: relative;
  color: #fff;
}
.writing_comment input::placeholder{
  color: #fff;
}
.writing_comment img{
  position: absolute;

}